/* ********** PAGE ********* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://i.ytimg.com/vi/v1SabYdIlZI/maxresdefault.jpg") fixed;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: verdana, sans-serif;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #404040;
    padding: 0.8rem;
    margin-top: 5rem;
}

/* ********** TEXTES ********** */

h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-size: 1.1rem;
    text-align: center;
}

.redTxt {
    color: RGB(255, 0, 0);
}

.greenTxt {
    color: RGB(0, 255, 0);
}

.blueTxt {
    color: RGB(0, 0, 255);
}

.gameOver {
    color: red;
    text-shadow: 2px 2px 15px black;
    margin: auto;
}

.succeed {
    color: RGB(0, 255, 0);
}

.winner {
    color: goldenrod;
}

/* ********** BOUTONS ********** */

button {
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black;
    color: white;
    margin: auto;
    border-radius: 30px;
    font-weight: bold;
    border: 2px black solid;
    padding: 0.7rem;
    width: 90%;
    font-size: 1.5rem;
    max-width: 700px;
}

.lvlBtn {
    font-size: 1.8rem;
    margin: 0.3rem auto;
}

.coloredLvlBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.35s ease-in-out;
    box-shadow: white 0 0 20px;
}

.uncoloredLvlBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.35s ease-in-out;
}

.uncoloredLvlBtn {
    background: linear-gradient(180deg, rgba(150, 150, 150, 1) 0%, rgba(100, 100, 100, 1) 100%);
}

#lvl1ColoredBtn {
    background: linear-gradient(180deg, rgba(0, 255, 0, 1) 0%, rgba(0, 85, 85, 1) 100%);
}

#lvl2ColoredBtn {
    background: linear-gradient(180deg, rgba(0, 85, 85, 1) 0%, rgba(0, 0, 255, 1) 100%);
}

#lvl3ColoredBtn {
    background: linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(85, 0, 85, 1) 100%);
}

#lvl4ColoredBtn {
    background: linear-gradient(180deg, rgba(85, 0, 85, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.redBtn {
    background-color: RGB(255, 0, 0);
}

.greenBtn {
    background-color: RGB(0, 255, 0);
}

.blueBtn {
    background-color: RGB(0, 0, 255);
}

.leaveBtn {
    background-color: gray;
}

.nextBtn,
.succeedBtn,
.gameOverBtn {
    background: linear-gradient(-90deg, rgba(0, 255, 0, 1) 0%, rgba(0, 85, 85, 1) 100%);
}

.answerBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.35s ease-in-out;
    box-shadow: white 0 0 20px;
}

/* ********** WINDOWS ********** */

.lvlContainer {
    width: 100%;
    border: black 2px solid;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 20px;
}

.coloredWindow {
    width: 90%;
    max-width: 400px;
    aspect-ratio: 1.6;
    margin: auto;
    border-radius: 5px;
    border: 2px gray solid;
}

.lvlWindow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lvlWindow * {

}

/* ********** AUTRE ********** */

hr {
    width: 80%;
    margin: 2rem;
}

.winnerImg {
    width: 10%;
}

@media screen and (min-width: 700px) {

    h1 {
        font-size: 3rem;
    }

    hr {
        margin: 4rem auto;
    }
}

@media screen and (min-width: 1400px) {
    main {
        width: 50%;
    }
}

.hidden {
    display: none;
}